#bettergdpr_cookie_banner {
background-color:rgba(71,81,84,.95);box-shadow: 0 -8px 20px 0 rgba(0,0,0,.2);width:100%;margin:0 auto;padding:5px;color: #6d6d6d;bottom:0px;position:fixed;left: 0px;opacity:0.9;filter:alpha(opacity=80);height:auto;max-height:500px;z-index:9999999999;overflow:hidden;}
#bettergdpr_popup_message {display:block;color:#fff;padding:5px 10px 10px 10px;font-size:16px;line-height:22px;text-align: justify;}
#bettergdpr_popup_message a, #bettergdpr_popup_message a:hover{color:#2eb8ff;font-size:16px;line-height:22px;}
#bettergdpr_popup_buttons {display:flex;flex-direction:row;flex-wrap:wrap;flex-grow:2;justify-content:space-between;margin:0 auto;text-align:center;vertical-align: middle;padding:0px 10px 0px 10px;}
#bettergdpr_cookie_banner #bettergdpr_agree_btn {text-decoration:none;font-weight: 400;text-transform: uppercase;cursor: pointer;background-color: #2eb8ff;min-width: 150px;min-height: 33px;margin: 0;padding: 5px 2px;font-size: 15px;color: #fff;border: none;border-radius: 3px;outline: none;line-height: inherit;}
#bettergdpr_cookie_banner #bettergdpr_req_btn {text-decoration:none;font-weight: 400;text-transform: uppercase;background-color:transparent;cursor: pointer;min-width: 150px;min-height: 30px;margin: 0px;padding: 5px 2px;font-size: 15px;color: #fff;border: 1px solid #fff;border-radius: 3px;outline: none;line-height: inherit;}
#bettergdpr_branding {color:#fff;padding:10px;display:block;}
#bettergdpr_powered_by {float:left;font-size:12px;}
@media only screen and (min-width:769px){
#bettergdpr_cookie_banner {max-width:70%;}
}
@media only screen and (max-width:500px){
#bettergdpr_popup_message {padding:5px;}
#bettergdpr_popup_buttons {padding:0px 5px 0px 5px;}
#bettergdpr_popup_buttons #bettergdpr_agree_btn {  margin-right: 10px; }
#bettergdpr_powered_by {display:none;}
#bettergdpr_branding {padding:5px;}
}
.bettergdpr_faded_body { overflow:hidden}
#bettergdpr_settings_items .switch {position: relative;display: inline-block;width: 60px;height: 34px;}
#bettergdpr_settings_items .switch input {opacity: 0;width: 0;height: 0;}
#bettergdpr_settings_items .slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

#bettergdpr_settings_items .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

#bettergdpr_settings_items input:checked + .slider {
  background-color: #2196F3;
}

#bettergdpr_settings_items input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

#bettergdpr_settings_items input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
#bettergdpr_settings_items .slider.round {
  border-radius: 34px;
}

#bettergdpr_settings_items .slider.round:before {
  border-radius: 50%;
}

#bettergdpr_settings_items .r {
  display: block;
  width: 100%;
  clear:both;
  padding-bottom: 10px;
}
#bettergdpr_settings_items .r p {
  font-style:italic;
}
#bettergdpr_settings_items .h {
  display:inline-block;
  width: 86%;
  padding: 0;
  margin:0;
  font-weight: bold;
}
#bettergdpr_settings_items .c {
  float:right;
  display:inline-block;
  text-align:center;
  width: 13%;
  padding: 0;
  margin:0;
}
#bettergdpr_settings_page {
  box-shadow: 20px 20px 40px 1px #656565;
  margin: 0 auto;
  max-width:80%;
  min-width:80%;
  height:80%;
  background-color:#fff;
  padding:20px;
  overflow:auto;
  border:1px solid #222;
}
#bettergdpr_settings_page p {
  font-size:14px;
  line-height:18px;
}
#bettergdpr_settings_page h3, h4 {
  padding-top:10px;
  padding-bottom: 10px;
  margin:0;
  font-size: 26px;
}
#bettergdpr_settings_page h4 {
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: 22px;
}
#bettergdpr_settings_page button {
text-decoration:none;font-weight: 400;text-transform: uppercase;cursor: pointer;background-color: #2196F3;min-width: 160px;min-height: 33px;margin: 0;padding: .5rem 1rem;font-size: 1.3rem;color: #fff;border: none;border-radius: 3px;outline: none;
}
